[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rgw"]
	path = rgw
	url = https://github.com/abmantz/rgw
	shallow = true
	subdir = rgw
	registered = true
